
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

=======

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="My Tribe is the tool moms and dads need to organize your family life better!">
  <title>MyTribe - Organization tool for Modern Parents</title>
  {{!-- <link rel="icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
  <link rel="stylesheet" href="https://static.winnie.com/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/static/577410c/css/winnie.css">
  <link rel="stylesheet" href="/static/577410c/css/home.css"> --}}

  <script>
   
  </script>
  
  

<body>

  <nav id="navbar" class="navbar">
    <div class="container">
      
      <a class="logo" rel="home" href="/"><span>Winnie</span></a>
      <ul class="nav navbar-nav">
        <li><a class="btn" href="/login" rel="nofollow">Sign In</a></li>
      </ul>
    </div>
  </nav>


  

  
  <div class="content">
    <section class="hero">
      <div class="container">
        <h1>Inspiration & insight for modern parents</h1>
        <div>
          <a class="btn-download-ios" href="/ios?ct=home"
             data-event="Download iOS" data-label="Winnie"
             title="Download on the App Store" target="_blank"></a>
          <a class="btn-download-android" href="/android"
             data-event="Download Android" data-label="Winnie"
             title="Get it on Google Play"></a>
          <a class="btn-login" href="/signup" rel="nofollow" data-event="Sign Up">Get Started</a>
          <p>Already have an account? <a href="/login" rel="nofollow" data-event="Login">Sign In</a></p>
        </div>
      </div>
    </section>
  </div>



  
  

  <footer class="extended-footer">
    <div class="container">
      <small>&copy; 2019 JustarLae, Inc.</small>
    </div>
  </footer>

</html>
>>>>>>> index view update
