<div class="nav-bar">

    <a class="nav-bar-left" href="/views/index.hbs">My Tribe</a>
    <div class="nav-bar-right">
      <li><a href="/views/auth/signup.hbs">Sign Up</a></li>
      <li><a href="/views/auth/login.hbs">Log In</a></li>
    </div> 

</div>


<div class="container">
  
  <div class="intro">
    <h1>Bla bla bla bla bla </h1>
  </div>

  <div class="images-line-1"></div>
  

  <div class="images-line-2">
    <section class="image-family2"></section>
    <section class="image-family3"></section>
    <section class="image-family4"></section>
  </div>     
 

  <div class="link-btn"> 
    <a class="signup" href="/auth/signup">Sign Up</a> 
    <a class="login" href="/auth/login">Log In</a>
  </div>

</div>

